@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading"></h2>
                <h3>
                    "I am a student at Coder Foundry, in North Carolina, where I am challenged every day, and loving every minute of it!  I can't wait to create more amazing projects,
                    and learn all that I can. My dream is to find a job early next year, and begin this fantastic adventure of web development! I live in Monroe, with my wonderful husband,
                    John, and a snarky ragdoll cat named Smokey.  In my free time, I enjoy walks in the woods, yoga and playing with my grandson, Jack!"
                </h3>
                <!--    <hr class="light">
                 <!--  <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
