
@{
    ViewBag.Title = "Contact";
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project? That's great! Give me a call or send me an email and I will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <h4></h4>
                <a href="https://www.facebook.com/profile.php?id=100010497485736">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <h4>Like me on facebook</h4>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <h4><a href="mailto:mahburns@gmail.com">mahburns@gmail.com</a></h4>
                <a href="https://www.linkedin.com/home?trk=nav_responsive_tab_home">
                    <i class="fa fa-linkedin"></i>
                </a>
                <h4>Connect with me</h4>
            </div>
        </div>
    </div>
</section>