
@{
    ViewBag.Title = "Resume";
}

<div class="container">
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 well">
            <h3>Objective</h3>
            <p>To begin a new adventure as a professional web developer.</p>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
        </div>

        <div class="col-lg-8 well">
            <h3>Education</h3>
            <p>Coder Foundry (2016)</p>
            <p>MCE in Christian Education from Pfeiffer University, Charlotte, North Carolina (1998)</p>
            <p>BA in Political Science from the University of North Carolina, Chapel Hill, North Carolina (1984)</p>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 well">
            <h3>Experience</h3>
            <p>
                Director of Children's Ministries (1995-2016) Central United Methodist Church
                Responsible for all aspects of ministry to children and families including the recruitment, training and supervision of all volunteers and staff, development and maintenance of programs to families of the church as well as the community and coordinating activities with other staff members.
            </p>
            <p>
                Customer Service Representative (1989-1992)
                Business Office Products, Monroe, North Carolina.
                Floor sales and customer service.
            </p>
            <p>
                Real Estate Paralegal (1987-1989)
                The Law Firm of Griffin, Caldwell, Helder and Lee, Monroe, North Carolina
                Research.  Responsible for all residential and commercial property title abstracts.
            </p>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    </div>


